root = "."
tmp_dir = "tmp"

[build]
  bin = "./tmp/tenant"
  cmd = "go build -o ./tmp/tenant ./cmd/tenant"
  delay = 1000
  exclude_dir = ["tmp", "vendor", "web", "node_modules", "cmd/tenant/dist"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "2s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = true
